HelloWordProject/bpelContent/helloWorldWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/helloWorldWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="helloWorldWSDLFile" targetNamespace="http://www.example.org/helloWorldWSDLFile/">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/helloWorldWSDLFile/">
      <xsd:element name="hello">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="50"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="helloResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="greet" type="xsd:string" minOccurs="5" maxOccurs="100"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="helloRequest">
    <wsdl:part element="tns:hello" name="parameters"/>
  </wsdl:message>
  
  <wsdl:message name="helloResponse">
    <wsdl:part element="tns:helloResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="helloWorldWordPortType">
    <wsdl:operation name="hello">
      <wsdl:input message="tns:helloRequest"/>
      <wsdl:output message="tns:helloResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="helloWorldWSDLFileSOAP" type="tns:helloWorldWordPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="hello">
      <soap:operation soapAction="http://www.example.org/helloWorldWSDLFile/hello"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="helloWorldWSDLFile">
    <wsdl:port binding="tns:helloWorldWSDLFileSOAP" name="helloWorldPort">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
